:root {
    --background-color: #003049; 
    --text-color: #E0E0E0; 
    --primary-color: #333333; 
    --secondary-color: #444444;
    --link-color: #FF9800;
    --link-visited-color: #FFD700; 
    --highlight-color: #FFC107; 
    --link-hover-color: #FFFFFF; 
    --button-color: #28A745; 
    --button-hover-color: #1F6B34;
    --border-color: var(--text-color); 
    --stanza1: #1E272E; 
    --stanza2: #2C3A47; 
    --stanza3: #3B3B98; 
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    line-height: 1.5em;
    font-family: "Verdana", sans-serif;
    margin: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    min-height: 100vh;
}

#screen-reader-skip {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    width: 100%;
}

nav {
    background-color: var(--primary-color);
    padding: 1em 2em;
    margin-bottom: 2em;
}

#logo {
    display: inline;
}

#toggle-nav {
    display: none;
}

.hidden-line {
    display: none;
}

.mobile-menu-separator {
    display: none;
}

nav ul {
    display: inline;
    margin-left: 0.75em;
}

    nav ul li {
        width: 30%;
        list-style-type: none;
        margin: 0 0.25em;
        padding: 0.2em;
        border: 1px solid var(--highlight-color);
        border-radius: 0.2em;
        background-color: var(--highlight-color);
        text-align: center;
        display: inline;
    }

        nav ul li:hover {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
        }

nav hr {
    margin: 0.5em 0;
    border: 1px solid white;
}

#bottom-nav {
    display: flex;
}

#lang-switch {
    flex-grow: 1;
    text-align: right;
}

section {
    background-color: var(--secondary-color);
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

.prenotazione_rapida {
    display: inline-block;
    margin-top: 0em;
    padding: 0.5em 1em;
    background-color: var(--button-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .prenotazione_rapida:hover {
        background-color: var(--button-hover-color);
    }

.home_room {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "img title"
        "img recap"
        "img prenota";
    gap: 1rem;
    padding: 1em;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

    .home_room img {
        grid-area: img;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    
    .home_room #room-title {
        grid-area: title;
        align-self: center;
        font-size: 1.8em;
        margin-bottom: 0.5em;
    }

    .home_room .recap {
        grid-area: recap;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-top: 7em;
    }
    
        .home_room .recap dt {
            font-weight: bold;
            color: var(--highlight-color);
        }

        .home_room .recap dd {
            margin: 0 0 1em 0;
        }

    .home_room .ambientazione {
        grid-area: recap;
        margin-top: 0em;
    }

    .home_room .prenotazione_rapida {
        grid-area: prenota;
        align-self: start;
    }

    @media screen and (max-width: 768px) {
        .home_room {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "title"
                "recap"
                "prenota";
        }
    }

a {
    color: var(--link-color);
}

    a:visited {
        color: var(--link-visited-color);
    }

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: min-content;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    form input {
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        font-size: 1rem;
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

        form input:focus {
            border-color: var(--link-color);
            outline: none;
            box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
        }

        form input[type="submit"] {
            padding: 0.75rem;
            border: none;
            border-radius: 0.5rem;
            background-color: var(--button-color);
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

            form input[type="submit"]:hover {
                background-color: var(--button-hover-color);
            }

            form input[type="submit"]:active {
                background-color: #A62323; 
            }

    form label {
        margin-bottom: 0.5rem;
        color: var(--highlight-color);
    }

.largeform {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
    max-width: 600px;
    width: 100%;
}

    .largeform fieldset {
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: var(--secondary-color);
    }

    .largeform legend {
        padding: 0 0.5rem;
        color: var(--highlight-color);
    }

    .largeform label {
        display: block;
        margin-bottom: 0.5rem;
        color: var(--highlight-color);
    }

    .largeform input {
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        font-size: 1rem;
        background-color: var(--background-color);
        color: var(--text-color);
    }

        .largeform input:focus {
            border-color: var(--link-color);
            outline: none;
            box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
        }

        .largeform input[type="submit"] {
            width: auto;
            padding: 0.75rem;
            border: none;
            border-radius: 0.5rem;
            background-color: var(--button-color);
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

            .largeform input[type="submit"]:hover {
                background-color: var(--button-hover-color);
            }

            .largeform input[type="submit"]:active {
                background-color: #A62323; 
            }

.booking-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.booking-container {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-container h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

#booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--highlight-color);
}

input[type="date"],
select {
    width: calc(100% - 1.5rem);
    padding: 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1rem;
}

input[type="date"]:focus,
select:focus {
    border-color: var(--link-color);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--button-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    background-color: #A62323;
}

.dashboard-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info {
    text-align: right;
    margin-bottom: 20px;
}

    .user-info p {
        margin: 0;
        color: var(--highlight-color);
    }

    .user-info a {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .user-info a:hover {
            color: var(--link-hover-color);
        }

.bookings-section,
.reviews-section {
    margin-bottom: 20px;
}

    .bookings-section h2,
    .reviews-section h2 {
        margin-top: 0;
        color: var(--highlight-color);
    }

ul {
    list-style-type: none;
    padding: 0;
}

.prenotazioni_utente li {
    margin-bottom: 10px;
}

.available-reviews li,
.written-reviews li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.available-reviews li {
    color: var(--highlight-color);
}

.written-reviews li {
    color: var(--text-color);
}

.logout-container {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    margin: 0 0 20px; 
    color: var(--highlight-color); 
}

.login-link {
    color: var(--link-color); 
    text-decoration: none; 
    transition: color 0.3s ease;
}

    .login-link:hover {
        color: var(--link-hover-color);
    }

.hidden-error {
    display: none;
}

.hidden-info {
    display: none;
}

#room-title {
    margin-bottom: 0.67em;
}

.room-photo {
    display: inline-block;
    width: 50%;
    border-radius: 8px;
}

.ambientazione {
    display: inline-block;
}

footer {
    display: none;
}

a:hover{
    color: var(--link-hover-color);
}