<!DOCTYPE html>
<html lang="{language}">
<head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="{keywords}">
    <meta name="description" content="{description}">
    <meta name="author" content="En?gma">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/mini.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/navtoggle.js"></script>
    <script src="utilities/config/regex_js_config.js"></script>
</head>
<body>
<a href="#content" id="screen-reader-skip" title="~skip~" aria-label="~skip~" tabindex="0">~skip~</a>

<header>
    <nav>
        <h1 id="logo" aria-label="enigma">En?gma</h1>
        <button type="button" id="toggle-nav">~nav_toggle~</button>
        <hr class="hidden-line" id="nav-line">
        <ul class="hidden-nav" id="nav-menu">
            {menu}
        </ul>
        <hr>
        <div id="bottom-nav">
            <div id="breadcrumb">
                <p>~breadcrumb~<span id="path">{breadcrumb}</span></p>
            </div>
            {lang_switch}
        </div>
    </nav>
</header>

<div id="error-message-box" class="hidden-error">
    {error_message}
</div>

<div id="info-message-box" class="hidden-info">
    {info_message}
</div>

<main id="content">
    {content}
</main>

<footer>
    {lang_switch}
</footer>

<script src="js/default.js"></script>
</body>
</html>





