<form id="booking-form" action="booking.php" method="post">
    <h2>~room_booking~: </h2>
    <h2 id="room-id">{room_id}</h2>

    <label for="day-selector">~day_select~</label>
    <input id="day-selector" name="day" type="date" min="{today_date}" max="{max_date}">

    <label for="slot-selector">~slot_select~</label>
    <select name="rooms" id="slot-selector">
        <option value="">~slot_select~</option>
    </select>

    <button id="submit-button" name="prenota" type="submit"> ~book~ </button>
</form>