<form id="edit-booking-form" action="edit_booking.php" method="post">
    <h2>~edit_booking~ #{booking_id}</h2>
    <h3>~the_booking~:</h3>
    <div>
        <time datetime="{booking_info_date}" id="booking-date">{booking_info_date}</time>
        <time datetime="{booking_info_time}" id="booking-time">{booking_info_time}</time>
        <span id="booking-user">{booking_info_username}</span>
        <span id="booking-room-text">~room~: <span id="booking-room">{booking_info_room_id}</span></span>
    </div>

    <label for="day-selector">~new_day_select~</label>
    <input id="day-selector" name="day" type="date" min="{today_date}" max="{max_date}">

    <label for="slot-selector">~new_slot_select~</label>
    <select name="slot" id="slot-selector"></select>

    <button id="submit-button" name="prenota" type="submit">~edit~</button>

    <button id="delete-button" name="delete" type="submit">~delete~</button>
</form>