<form id="edit-review-form" action="edit_review.php" method="post">
    <h2>~edit_review~ #<span id="review-id">{review_id}</span></h2>

    <label for="review-box">~edit_the_review~</label>
    <textarea id="review-box" name="review-box" maxlength="1024">{review_text}</textarea>

    <div id="rating-container">
        <label for="rating">~score~:</label>
        <input id="rating" name="rating" type="number" min="1" max="5" step="1" value="3">
    </div>

    <button id="submit-button" name="modifica_recensione" type="submit"> ~edit~ </button>

    <button id="delete-button" name="delete" type="submit"> ~delete~ </button>
</form>